[submodule "tekton/tekton-cd-demo"]
	path = tekton/tekton-cd-demo
	url = https://github.com/siamaksade/tekton-cd-demo.git
[submodule "jenkins-demo"]
	path = jenkins-demo
	url = https://github.com/siamaksade/openshift-cd-demo.git
